In [16]:
%matplotlib notebook

In [17]:
import matplotlib
matplotlib.style.use('default')

import matplotlib.pyplot as plt
fig, ax = plt.subplots()
ln, = ax.plot([0, 1, 4, 9, 16])
plt.show()
ln.set_color('g')

In [18]:
ln.set_color('y')

In [23]:
import pandas as pd
df = pd.DataFrame({"var1":[1,2,3,4,5,6], "var2":[1,0,3,0,5,0]})
plt.plot("var1", "var2", data=df)
plt.show()

In [26]:
# http://pandas.pydata.org/pandas-docs/stable/10min.html
import numpy as np
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273
2013-01-02 -0.203513 -1.400234  0.330860  0.746771
2013-01-03  1.441022 -0.007264  0.254937  1.628932
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285
2013-01-05  0.357817 -0.219687  0.167413  0.863232
2013-01-06 -0.362490  1.048454  0.802115 -0.062205

In [29]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [30]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [31]:
# try tab completion `df2.<TAB>`

In [32]:
df.head()

                   A         B         C         D
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273
2013-01-02 -0.203513 -1.400234  0.330860  0.746771
2013-01-03  1.441022 -0.007264  0.254937  1.628932
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285
2013-01-05  0.357817 -0.219687  0.167413  0.863232

In [34]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.357817 -0.219687  0.167413  0.863232
2013-01-06 -0.362490  1.048454  0.802115 -0.062205

In [35]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [37]:
df.values

array([[-0.05693953, -0.59259383, -2.20787847,  0.8372731 ],
       [-0.20351297, -1.40023355,  0.33085975,  0.7467705 ],
       [ 1.44102179, -0.00726359,  0.25493747,  1.62893239],
       [-2.931439  , -0.34420489, -0.01047184, -1.33028523],
       [ 0.35781706, -0.21968685,  0.16741349,  0.8632318 ],
       [-0.36248993,  1.04845436,  0.80211503, -0.0622052 ]])

In [38]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.292590 -0.252588 -0.110504  0.447286
std    1.446397  0.799383  1.062774  1.022783
min   -2.931439 -1.400234 -2.207878 -1.330285
25%   -0.322746 -0.530497  0.033999  0.140039
50%   -0.130226 -0.281946  0.211175  0.792022
75%    0.254128 -0.060369  0.311879  0.856742
max    1.441022  1.048454  0.802115  1.628932

In [39]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.056940   -0.203513    1.441022   -2.931439    0.357817   -0.362490
B   -0.592594   -1.400234   -0.007264   -0.344205   -0.219687    1.048454
C   -2.207878    0.330860    0.254937   -0.010472    0.167413    0.802115
D    0.837273    0.746771    1.628932   -1.330285    0.863232   -0.062205

In [40]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.837273 -2.207878 -0.592594 -0.056940
2013-01-02  0.746771  0.330860 -1.400234 -0.203513
2013-01-03  1.628932  0.254937 -0.007264  1.441022
2013-01-04 -1.330285 -0.010472 -0.344205 -2.931439
2013-01-05  0.863232  0.167413 -0.219687  0.357817
2013-01-06 -0.062205  0.802115  1.048454 -0.362490

In [41]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02 -0.203513 -1.400234  0.330860  0.746771
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285
2013-01-05  0.357817 -0.219687  0.167413  0.863232
2013-01-03  1.441022 -0.007264  0.254937  1.628932
2013-01-06 -0.362490  1.048454  0.802115 -0.062205

In [42]:
df['A']

2013-01-01   -0.056940
2013-01-02   -0.203513
2013-01-03    1.441022
2013-01-04   -2.931439
2013-01-05    0.357817
2013-01-06   -0.362490
Freq: D, Name: A, dtype: float64

In [43]:
df[0:2]

                   A         B         C         D
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273
2013-01-02 -0.203513 -1.400234  0.330860  0.746771

In [44]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.203513 -1.400234  0.330860  0.746771
2013-01-03  1.441022 -0.007264  0.254937  1.628932
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285

In [45]:
df.loc[dates[0]]

A   -0.056940
B   -0.592594
C   -2.207878
D    0.837273
Name: 2013-01-01 00:00:00, dtype: float64

In [47]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.056940 -0.592594
2013-01-02 -0.203513 -1.400234
2013-01-03  1.441022 -0.007264
2013-01-04 -2.931439 -0.344205
2013-01-05  0.357817 -0.219687
2013-01-06 -0.362490  1.048454

In [51]:
df.loc['20130102':'20130104','B':'D']

                   B         C         D
2013-01-02 -1.400234  0.330860  0.746771
2013-01-03 -0.007264  0.254937  1.628932
2013-01-04 -0.344205 -0.010472 -1.330285

In [52]:
# auto 'squeeze'
df.loc['20130102',['A','B']]

A   -0.203513
B   -1.400234
Name: 2013-01-02 00:00:00, dtype: float64

In [53]:
 df.loc[dates[0],'A']

-0.056939533320121846

In [55]:
# faster
df.at[dates[0],'A']

-0.056939533320121846

In [56]:
df.iloc[3]

A   -2.931439
B   -0.344205
C   -0.010472
D   -1.330285
Name: 2013-01-04 00:00:00, dtype: float64

In [57]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -2.931439 -0.344205
2013-01-05  0.357817 -0.219687

In [58]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.203513  0.330860
2013-01-03  1.441022  0.254937
2013-01-05  0.357817  0.167413

In [59]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.203513 -1.400234  0.330860  0.746771
2013-01-03  1.441022 -0.007264  0.254937  1.628932

In [60]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.592594 -2.207878
2013-01-02 -1.400234  0.330860
2013-01-03 -0.007264  0.254937
2013-01-04 -0.344205 -0.010472
2013-01-05 -0.219687  0.167413
2013-01-06  1.048454  0.802115

In [61]:
df.iloc[1,1]

-1.4002335538282902

In [62]:
# faster
df.iat[1,1]

-1.4002335538282902

In [63]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  1.441022 -0.007264  0.254937  1.628932
2013-01-05  0.357817 -0.219687  0.167413  0.863232

In [64]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN       NaN  0.837273
2013-01-02       NaN       NaN  0.330860  0.746771
2013-01-03  1.441022       NaN  0.254937  1.628932
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05  0.357817       NaN  0.167413  0.863232
2013-01-06       NaN  1.048454  0.802115       NaN

In [65]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273    one
2013-01-02 -0.203513 -1.400234  0.330860  0.746771    one
2013-01-03  1.441022 -0.007264  0.254937  1.628932    two
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285  three
2013-01-05  0.357817 -0.219687  0.167413  0.863232   four
2013-01-06 -0.362490  1.048454  0.802115 -0.062205  three

In [66]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.441022 -0.007264  0.254937  1.628932   two
2013-01-05  0.357817 -0.219687  0.167413  0.863232  four

In [69]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [68]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01 -0.056940 -0.592594 -2.207878  0.837273  NaN
2013-01-02 -0.203513 -1.400234  0.330860  0.746771  1.0
2013-01-03  1.441022 -0.007264  0.254937  1.628932  2.0
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285  3.0
2013-01-05  0.357817 -0.219687  0.167413  0.863232  4.0
2013-01-06 -0.362490  1.048454  0.802115 -0.062205  5.0

In [72]:
df.at[dates[0],'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000 -0.592594 -2.207878  0.837273  NaN
2013-01-02 -0.203513 -1.400234  0.330860  0.746771  1.0
2013-01-03  1.441022 -0.007264  0.254937  1.628932  2.0
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285  3.0
2013-01-05  0.357817 -0.219687  0.167413  0.863232  4.0
2013-01-06 -0.362490  1.048454  0.802115 -0.062205  5.0

In [74]:
df.iat[0,1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000 -2.207878  0.837273  NaN
2013-01-02 -0.203513 -1.400234  0.330860  0.746771  1.0
2013-01-03  1.441022 -0.007264  0.254937  1.628932  2.0
2013-01-04 -2.931439 -0.344205 -0.010472 -1.330285  3.0
2013-01-05  0.357817 -0.219687  0.167413  0.863232  4.0
2013-01-06 -0.362490  1.048454  0.802115 -0.062205  5.0

In [75]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -2.207878  5  NaN
2013-01-02 -0.203513 -1.400234  0.330860  5  1.0
2013-01-03  1.441022 -0.007264  0.254937  5  2.0
2013-01-04 -2.931439 -0.344205 -0.010472  5  3.0
2013-01-05  0.357817 -0.219687  0.167413  5  4.0
2013-01-06 -0.362490  1.048454  0.802115  5  5.0

In [76]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -2.207878 -5  NaN
2013-01-02 -0.203513 -1.400234 -0.330860 -5 -1.0
2013-01-03 -1.441022 -0.007264 -0.254937 -5 -2.0
2013-01-04 -2.931439 -0.344205 -0.010472 -5 -3.0
2013-01-05 -0.357817 -0.219687 -0.167413 -5 -4.0
2013-01-06 -0.362490 -1.048454 -0.802115 -5 -5.0

In [77]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -2.207878  5  NaN  1.0
2013-01-02 -0.203513 -1.400234  0.330860  5  1.0  1.0
2013-01-03  1.441022 -0.007264  0.254937  5  2.0  NaN
2013-01-04 -2.931439 -0.344205 -0.010472  5  3.0  NaN

In [78]:
df1.dropna(how='any')

                   A         B        C  D    F    E
2013-01-02 -0.203513 -1.400234  0.33086  5  1.0  1.0

In [79]:
df1.fillna(value=4)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -2.207878  5  4.0  1.0
2013-01-02 -0.203513 -1.400234  0.330860  5  1.0  1.0
2013-01-03  1.441022 -0.007264  0.254937  5  2.0  4.0
2013-01-04 -2.931439 -0.344205 -0.010472  5  3.0  4.0

In [80]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [81]:
df.mean()

A   -0.283101
B   -0.153822
C   -0.110504
D    5.000000
F    3.000000
dtype: float64

In [82]:
df.mean(1)

2013-01-01    0.698030
2013-01-02    0.945423
2013-01-03    1.737739
2013-01-04    0.942777
2013-01-05    1.861109
2013-01-06    2.297616
Freq: D, dtype: float64

In [84]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [87]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -2.207878  5  NaN
2013-01-02 -0.203513 -1.400234  0.330860  5  1.0
2013-01-03  1.441022 -0.007264  0.254937  5  2.0
2013-01-04 -2.931439 -0.344205 -0.010472  5  3.0
2013-01-05  0.357817 -0.219687  0.167413  5  4.0
2013-01-06 -0.362490  1.048454  0.802115  5  5.0

In [86]:
df.add(s, axis='index')

                   A         B         C     D    F
2013-01-01       NaN       NaN       NaN   NaN  NaN
2013-01-02       NaN       NaN       NaN   NaN  NaN
2013-01-03  2.441022  0.992736  1.254937   6.0  3.0
2013-01-04  0.068561  2.655795  2.989528   8.0  6.0
2013-01-05  5.357817  4.780313  5.167413  10.0  9.0
2013-01-06       NaN       NaN       NaN   NaN  NaN

In [88]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -2.207878   5   NaN
2013-01-02 -0.203513 -1.400234 -1.877019  10   1.0
2013-01-03  1.237509 -1.407497 -1.622081  15   3.0
2013-01-04 -1.693930 -1.751702 -1.632553  20   6.0
2013-01-05 -1.336113 -1.971389 -1.465140  25  10.0
2013-01-06 -1.698603 -0.922935 -0.663025  30  15.0

In [89]:
df.apply(lambda x: x.max() - x.min())

A    4.372461
B    2.448688
C    3.009994
D    0.000000
F    4.000000
dtype: float64

In [90]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    0
1    4
2    2
3    4
4    4
5    4
6    4
7    0
8    4
9    2
dtype: int32

In [91]:
s.value_counts()

4    6
2    2
0    2
dtype: int64

In [92]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [93]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  1.740549 -2.053550  0.467799 -0.066351
1 -0.657563 -0.486335  0.374411 -0.390038
2 -0.927664 -1.030649  1.193793  0.968639
3 -1.572885 -0.368600 -0.256829  2.933126
4 -1.171538 -1.447123  0.381216  1.424935
5  1.637479  0.209756  0.450256 -0.189885
6 -0.752477 -0.579918 -0.915287 -0.640208
7 -0.348369 -2.393531  0.782818  0.585387
8 -0.106799 -0.821491  0.820065  1.964002
9  1.182189 -1.018520  1.526114  1.407446

In [94]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  1.740549 -2.053550  0.467799 -0.066351
1 -0.657563 -0.486335  0.374411 -0.390038
2 -0.927664 -1.030649  1.193793  0.968639
3 -1.572885 -0.368600 -0.256829  2.933126
4 -1.171538 -1.447123  0.381216  1.424935
5  1.637479  0.209756  0.450256 -0.189885
6 -0.752477 -0.579918 -0.915287 -0.640208
7 -0.348369 -2.393531  0.782818  0.585387
8 -0.106799 -0.821491  0.820065  1.964002
9  1.182189 -1.018520  1.526114  1.407446

In [95]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [96]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.059600  0.978199  0.827825  1.472949
1 -0.365536 -0.473697 -2.079457  0.208031
2 -0.618034 -1.649159 -1.510527  1.066103
3  0.083918 -0.333247  1.725184 -1.040675
4 -1.183610 -0.318871 -0.872026  1.323481
5 -1.353792  0.478547  1.975236  1.507346
6  1.335604  0.090512  0.961926 -1.388932
7  1.716593  0.863717  1.240751  0.904408

In [97]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0  0.059600  0.978199  0.827825  1.472949
1 -0.365536 -0.473697 -2.079457  0.208031
2 -0.618034 -1.649159 -1.510527  1.066103
3  0.083918 -0.333247  1.725184 -1.040675
4 -1.183610 -0.318871 -0.872026  1.323481
5 -1.353792  0.478547  1.975236  1.507346
6  1.335604  0.090512  0.961926 -1.388932
7  1.716593  0.863717  1.240751  0.904408
8  0.083918 -0.333247  1.725184 -1.040675

In [108]:
# Declare my csv string (Works):
l = []
l.append('"patient","target","isthi","focus","acq"\n')
l.append('"A","B",True,8,1\n')
l.append('"A","B",False,8,2')
csvStr = ''.join(l)

print(csvStr) # Just checking the variables contents

# Read csv and convert to DataFrame (Works):
from io import StringIO
csvDf = pd.read_csv(StringIO(csvStr))
print(csvDf) # Just checking the variables contents

# Convert DataFrame to json:
myJSON = csvDf.to_json(path_or_buf = None,
                       orient = 'records',
                       date_format = 'epoch',
                       double_precision = 10,
                       force_ascii = True,
                       date_unit = 'ms',
                       default_handler = None) # Attempt 1

print (myJSON) # Just checking the variables contents

"patient","target","isthi","focus","acq"
"A","B",True,8,1
"A","B",False,8,2
  patient target  isthi  focus  acq
0       A      B   True      8    1
1       A      B  False      8    2
[{"patient":"A","target":"B","isthi":true,"focus":8,"acq":1},{"patient":"A","target":"B","isthi":false,"focus":8,"acq":2}]